*{
    margin: 0%;
    padding: 0%;
}




#header { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
     h1 {
        color: rgb(194, 128, 5);
    }
     ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        color: white;
    }
     a {
        padding: 0% 12px;
        color: white;
    }
}
#hero {
    
    
    background-image: url(../imagenes/menu-foto.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     h2 {
        color: rgb(194, 128, 5);
        font-size: 50px;
        text-transform: uppercase;
    }
     p {
        color: white;
        font-size: 25px;
    }
     a {
        background-color: black;
        color: rgb(194, 128, 5);
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
    }
}
footer{
    background-color: black;
    color: orange;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    #bodySobre-nosotros {
        display: grid;
     grid-template-columns:repeat(6,1fr);
     grid-template-rows: 50px 1000px 60px;
     grid-template-areas: 
     "header header header header header header"
     "main main main main main main"
     "footer footer footer footer footer footer"
     ;
    }
    #headerSobre-nosotros{
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px;
        background-color: black;
        color: orange;
    }

    .mainSobre-nosotros{
        grid-area: historiaEmpresa;
        background-color: rgb(231, 137, 15);
        background-image: url(../imagenes/motoSN.jpg);
        width: 100%;
        height: 950px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        .tituloHistoriasobre-nosotros{
            color: orange;
            background-color: black;
            text-align: center;
        }
        .pHistoriasobre-nosotros{
            padding: 55px 55px;
            height: 50px;
            color: orange;
            background-color: black;
            text-align: center;
            display: flex;
           justify-content: flex-end;
        
        }
    }
    
    .irMotos{

        background-image: url(../imagenes/motoVoladora.jpg);
        width: 100%;
        height: 1000px;
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: motos;
        background-color: rgb(255, 244, 244);
        .btnSobre-nosotros {
            padding: 40px 40px;
            background-color: black;
            color: rgb(194, 128, 5);
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
       
    }
    #footerSobre-nosotros{
        grid-area: footer;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
       
    }
    #bodyMotos {
        display: grid;
        grid-template-columns:repeat(6,1fr);
        grid-template-rows: 50px 1000px 60px;
        grid-template-areas: 
        "header header header header header header"
        "main main main main main main"
        "footer footer footer footer footer footer"
        ;
       
       }
       #headerMotos {
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px;
        background-color: black;
        color: orange;
    }

    #menuMotos {
        grid-area: main;
        grid-template-columns:repeat(4,1fr) ;
        grid-template-rows: repeat(4,250px);
        display: grid;
        grid-template-areas: 
        "crf crf yz yz"
        "crf crf yz yz"
        "kx kx sx sx"
        "kx kx sx sx"
        ;
        .motosCrf{
            grid-area: crf;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(196, 135, 51);
          }
          .motosYz{
             grid-area: yz;
             display: flex;
             flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .motosKx{
           grid-area: kx;
           display: flex;
           flex-direction: column;
            align-items: center;
            justify-content: center; 
          }
          .motosSx{
            grid-area: sx;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:rgb(196,135, 51) ;
          }
    }
   
    #footerMotos {
        grid-area: footer;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #bodyAccesorios {

        display: grid;
        grid-template-columns:repeat(6,1fr);
        grid-template-rows: 50px 1000px 60px;
        grid-template-areas: 
        "header header header header header header"
        "main main main main main main"
        "footer footer footer footer footer footer"
        ;
        
        }
        #headerAccesorios {

            grid-area: header;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px;
            background-color: black;
            color: orange;
        }
        #mainAccesorios{
            grid-area: main;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(4,250px);
            display: grid;
            grid-template-areas: 
            "casco casco botas botas"
            "casco casco botas botas"
            "traje traje guantes guantes"
            "traje traje guantes guantes"
            ;
            .accesorioCascofox{
                grid-area: casco;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: orange;
               }
               
               .accesorioBotasfox {
                   grid-area: botas;
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   justify-content: center;
               }
               
               .accesorioTrajefox{
                   grid-area: traje;
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   justify-content: center;
               }
               
               .accesorioGuantesfox {
                   grid-area: guantes;
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   justify-content: center;
                   background-color: orange;
               }
        }
        
        #footerAccesorios {
            grid-area: footer;
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
        }
        #bodycontacto{
            display: grid;
            grid-template-columns:repeat(6,1fr);
            grid-template-rows: 50px 1000px 60px;
            grid-template-areas: 
            "header header header header header header"
            "main main main main main main"
            "footer footer footer footer footer footer"
            ;
        }
        #headerContacto {
            grid-area: header;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px;
            background-color: black;
            color: orange;
        
        }
        #mainContacto{
            grid-area: main;
            background-image: url(../imagenes/fondo-contacto.jpg);
            width: 100%;
            height: 1000px;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: black;
            .tituloMaincontacto{
                text-align: center;
                color: orange;
            }
            .pMaincontacto{
                color: orange;
                text-align: center;
            
            }
            
            .formMaincontactos{
                display: flex;
                flex-direction: column;
                text-align: center;
                color: orange;
            }
            
        }
        #footerContacto{
            grid-area: footer;
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
        .btnComprar{
            background-color: darkorange;
            padding: 12px , 15px;
            border-radius: 8px;
            margin: 40px;
            border: 0;
            cursor: pointer;
        }
        .btnComprar:hover{
            background-color: rgb(20, 238, 104);
        }
        .btnComprar:active{
            background-color: rgb(72, 72, 67);
        }
        @media (max-width: 576px){
            #hero h2 {
                text-align: center;
            }
            footer{
                text-align: center;
            }
        }
        
        
        
        
    















#bodySobre-nosotros {
    display: grid;
 grid-template-columns:repeat(6,1fr);
 grid-template-rows: 50px 1000px 60px;
 grid-template-areas: 
 "header header header header header header"
 "main main main main main main"
 "footer footer footer footer footer footer"
 ;


}

#headerSobre-nosotros{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: black;
    color: orange;

}

#mainSobre-nosotros{
    grid-area: main;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 800px,200px;
    display: grid;
    grid-template-areas:
    "historiaEmpresa historiaEmpresa motos motos"
    "historiaEmpresa historiaEmpresa motos motos"
    "historiaEmpresa historiaEmpresa motos motos"
    "historiaEmpresa historiaEmpresa motos motos"

    ;
   

}

.pieMenu{
    grid-area: historiaEmpresa;
    background-color: rgb(231, 137, 15);
    background-image: url(../imagenes/motoSN.jpg);
    width: 100%;
    height: 950px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

}

.tituloSobrenosotros{
    color: orange;
    background-color: black;
    text-align: center;
}

.pSobrenosotros{
    padding: 55px 55px;
    height: 50px;
    color: orange;
    background-color: black;
    text-align: center;
    display: flex;
   justify-content: flex-end;

}

.irMotos{

    background-image: url(../imagenes/motoVoladora.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: motos;
    background-color: rgb(255, 244, 244);
   
}

.btnSobrenotoros {
    padding: 40px 40px;
    background-color: black;
    color: rgb(194, 128, 5);
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerSobre-nosotros{
    grid-area: footer;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

#bodyMotos {
 display: grid;
 grid-template-columns:repeat(6,1fr);
 grid-template-rows: 50px 1000px 60px;
 grid-template-areas: 
 "header header header header header header"
 "main main main main main main"
 "footer footer footer footer footer footer"
 ;

}

#headerMotos {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: black;
    color: orange;
}

#menuMotos {
    grid-area: main;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(4,250px);
    display: grid;
    grid-template-areas: 
    "crf crf yz yz"
    "crf crf yz yz"
    "kx kx sx sx"
    "kx kx sx sx"
    ;


}

#footerMotos {
    grid-area: footer;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

 .crf{
   grid-area: crf;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: rgb(196, 135, 51);
 }

 .yz{
    grid-area: yz;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;

 }

 .kx{
  grid-area: kx;
  display: flex;
  flex-direction: column;
   align-items: center;
   justify-content: center;
   
 }

 .sx{
   grid-area: sx;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color:rgb(196,135, 51) ;
 }



#bodyAccesorios {

display: grid;
grid-template-columns:repeat(6,1fr);
grid-template-rows: 50px 1000px 60px;
grid-template-areas: 
"header header header header header header"
"main main main main main main"
"footer footer footer footer footer footer"
;

}

#headerAccesorios {

    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: black;
    color: orange;
}

#mainAccesorios{
    grid-area: main;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,250px);
    display: grid;
    grid-template-areas: 
    "casco casco botas botas"
    "casco casco botas botas"
    "traje traje guantes guantes"
    "traje traje guantes guantes"
    ;
}


#footerAccesorios {
    grid-area: footer;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.cascoFox{
 grid-area: casco;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: orange;
}

.botasFox {
    grid-area: botas;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trajeFox{
    grid-area: traje;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guantesFox {
    grid-area: guantes;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

#bodycontacto{
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows: 50px 1000px 60px;
    grid-template-areas: 
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer"
    ;


}

#headerContacto {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: black;
    color: orange;

}

#mainContacto{
    grid-area: main;
    background-image: url(../imagenes/fondo-contacto.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.tituloContacto{
    text-align: center;
    color: orange;
}
.pContacto{
    color: orange;
    text-align: center;

}

.formContactos{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: orange;
}

#footerContacto{
    grid-area: footer;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.btnComprar{
    background-color: darkorange;
    padding: 12px , 15px;
    border-radius: 8px;
    margin: 40px;
    border: 0;
    cursor: pointer;
}
.btnComprar:hover{
    background-color: rgb(20, 238, 104);
}
.btnComprar:active{
    background-color: rgb(72, 72, 67);
}
/* media query mobile */

@media (max-width: 576px){
    #hero h2 {
        text-align: center;
    }
    footer{
        text-align: center;
    }
   
}